@tailwind components;
@tailwind utilities;

/* Restore visible cursor in all input/textarea fields globally */
input, textarea, [contenteditable] {
  caret-color: auto;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-medium-cyrillic-ext.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-medium-cyrillic.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-medium-greek-ext.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-medium-greek.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-medium-vietnamese.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-medium-latin-ext.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-medium-latin.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-bold-cyrillic-ext.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-bold-cyrillic.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-bold-greek-ext.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-bold-greek.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-bold-vietnamese.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-bold-latin-ext.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Druk","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Druk';
  src: url('/resources/v1/shared/fonts/druk/druktextwidecyr-bold-latin.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/resources/v1/shared/fonts/inter/InterVariable-cyrillic-ext.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/resources/v1/shared/fonts/inter/InterVariable-cyrillic.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/resources/v1/shared/fonts/inter/InterVariable-greek-ext.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/resources/v1/shared/fonts/inter/InterVariable-greek.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/resources/v1/shared/fonts/inter/InterVariable-vietnamese.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/resources/v1/shared/fonts/inter/InterVariable-latin-ext.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/resources/v1/shared/fonts/inter/InterVariable-latin.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/resources/v1/shared/fonts/poppins/poppins-400-devanagari.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/resources/v1/shared/fonts/poppins/poppins-600-devanagari.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('/resources/v1/shared/fonts/geologica/Geologica-Variable-cyrillic-ext.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('/resources/v1/shared/fonts/geologica/Geologica-Variable-cyrillic.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('/resources/v1/shared/fonts/geologica/Geologica-Variable-greek-ext.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('/resources/v1/shared/fonts/geologica/Geologica-Variable-greek.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('/resources/v1/shared/fonts/geologica/Geologica-Variable-vietnamese.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('/resources/v1/shared/fonts/geologica/Geologica-Variable-latin-ext.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('/resources/v1/shared/fonts/geologica/Geologica-Variable-latin.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Coolvetica","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Coolvetica';
  src: url('/resources/v1/shared/fonts/coolvetica/coolvetica-cyrillic-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Coolvetica","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Coolvetica';
  src: url('/resources/v1/shared/fonts/coolvetica/coolvetica-cyrillic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Coolvetica","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Coolvetica';
  src: url('/resources/v1/shared/fonts/coolvetica/coolvetica-greek-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Coolvetica","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Coolvetica';
  src: url('/resources/v1/shared/fonts/coolvetica/coolvetica-greek.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Coolvetica","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Coolvetica';
  src: url('/resources/v1/shared/fonts/coolvetica/coolvetica-vietnamese.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Coolvetica","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Coolvetica';
  src: url('/resources/v1/shared/fonts/coolvetica/coolvetica-latin-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Coolvetica","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Coolvetica';
  src: url('/resources/v1/shared/fonts/coolvetica/coolvetica-latin.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-Regular-cyrillic-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-Regular-cyrillic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-Regular-greek-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-Regular-greek.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-Regular-vietnamese.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-Regular-latin-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-Regular-latin.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-SemiBold-cyrillic-ext.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-SemiBold-cyrillic.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-SemiBold-greek-ext.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-SemiBold-greek.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-SemiBold-vietnamese.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-SemiBold-latin-ext.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-SemiBold-latin.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-ExtraBold-cyrillic-ext.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-ExtraBold-cyrillic.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-ExtraBold-greek-ext.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-ExtraBold-greek.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-ExtraBold-vietnamese.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-ExtraBold-latin-ext.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/resources/v1/shared/fonts/rubik/Rubik-ExtraBold-latin.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-regular-cyrillic-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-regular-cyrillic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-regular-greek-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-regular-greek.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-regular-vietnamese.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-regular-latin-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-regular-latin.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-semibold-cyrillic-ext.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-semibold-cyrillic.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-semibold-greek-ext.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-semibold-greek.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-semibold-vietnamese.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-semibold-latin-ext.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-semibold-latin.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-heavy-cyrillic-ext.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-heavy-cyrillic.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-heavy-greek-ext.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-heavy-greek.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-heavy-vietnamese.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-heavy-latin-ext.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Rounded","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Rounded';
  src: url('/resources/v1/shared/fonts/sfpro/sf-pro-rounded-heavy-latin.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Halvar Breit","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Halvar Breit';
  src: url('/resources/v1/shared/fonts/halvarBreit/halvar-breit-800-cyrillic-ext.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Halvar Breit","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Halvar Breit';
  src: url('/resources/v1/shared/fonts/halvarBreit/halvar-breit-800-cyrillic.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Halvar Breit","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Halvar Breit';
  src: url('/resources/v1/shared/fonts/halvarBreit/halvar-breit-800-greek-ext.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Halvar Breit","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Halvar Breit';
  src: url('/resources/v1/shared/fonts/halvarBreit/halvar-breit-800-greek.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Halvar Breit","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Halvar Breit';
  src: url('/resources/v1/shared/fonts/halvarBreit/halvar-breit-800-vietnamese.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Halvar Breit","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Halvar Breit';
  src: url('/resources/v1/shared/fonts/halvarBreit/halvar-breit-800-latin-ext.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"Halvar Breit","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'Halvar Breit';
  src: url('/resources/v1/shared/fonts/halvarBreit/halvar-breit-800-latin.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Regular-cyrillic-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Regular-cyrillic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Regular-greek-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Regular-greek.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Regular-vietnamese.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Regular-latin-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Regular-latin.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Medium-cyrillic-ext.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Medium-cyrillic.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Medium-greek-ext.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Medium-greek.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Medium-vietnamese.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Medium-latin-ext.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"500","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Medium-latin.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Semibold-cyrillic-ext.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Semibold-cyrillic.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Semibold-greek-ext.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Semibold-greek.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Semibold-vietnamese.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Semibold-latin-ext.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"600","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Semibold-latin.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Bold-cyrillic-ext.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Bold-cyrillic.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Bold-greek-ext.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Bold-greek.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Bold-vietnamese.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Bold-latin-ext.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"700","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Bold-latin.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Heavy-cyrillic-ext.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Heavy-cyrillic.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Heavy-greek-ext.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Heavy-greek.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Heavy-vietnamese.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Heavy-latin-ext.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"800","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Heavy-latin.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"900","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Black-cyrillic-ext.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"900","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Black-cyrillic.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"900","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Black-greek-ext.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"900","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Black-greek.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"900","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Black-vietnamese.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"900","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Black-latin-ext.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"SF Pro Display","weight":"900","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'SF Pro Display';
  src: url('/resources/v1/shared/fonts/sfproDisplay/SF-Pro-Display-Black-latin.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/resources/v1/shared/fonts/bebasNeue/BebasNeue-Regular-cyrillic-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/resources/v1/shared/fonts/bebasNeue/BebasNeue-Regular-cyrillic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/resources/v1/shared/fonts/bebasNeue/BebasNeue-Regular-greek-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/resources/v1/shared/fonts/bebasNeue/BebasNeue-Regular-greek.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/resources/v1/shared/fonts/bebasNeue/BebasNeue-Regular-vietnamese.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/resources/v1/shared/fonts/bebasNeue/BebasNeue-Regular-latin-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/resources/v1/shared/fonts/bebasNeue/BebasNeue-Regular-latin.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"swiper-icons","weight":"400","style":"normal","allowsCrossOrigin":false}] */
  font-family: 'swiper-icons';
  src: url('engine://font-1778583674703-hiefjx5t4');
  font-weight: 400;
  font-style: normal;
}

@tailwind base;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

/* Keep scrolling behavior, but hide visible scrollbars across sections. */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
